
<div class="row">
  <div class="twelve columns">
    <p>The Wedding of</p>
    <h1>Philip & Sarah</h1>
    <p>on <br />
    Thursday 27th June, 2015</p>
    <p>at the <br />
    Mirabell Palace, Salzburg, Austria</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2>Schedule</h2>

    <div class="row">
      <div class="twelve columns">
        <p class="datetime">1:00 pm</p>
        <h3>Wedding Ceremony</h3>
        <h4><em>The Mirabell Palace</em></h4>
        <p>The Ceremony</p>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p>2:30 pm</p>
        <h3>Cake, Coffee and Champagne</h3>
        <h4><em></em></h4>
        <p>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h3>Break</h3>
        <h4><em></em></h4>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h3>Dinner</h3>
        <h4><em>at K+K Restaurant</em></h4>

        <%= link_to "www.kkrestaurants.com", "http://www.kkrestaurants.com/en" %>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2>Accommodation</h2>
  </div>
</div>

