* {
  text-align: center;
}

#map-canvas { height: 400px; margin: 0; padding: 0;}

section {
  margin: 2em 0 0 0;
  padding: 0 0 2em 0;
  border-bottom: 1px solid #666;
  position: relative;
  top: 3em;
}

nav {
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);

  a {
      line-height: 3em;
  }
}

h1 {
  color: #606;
}

h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  color: #333;
}

h3 {
  margin: 0.7rem 0 1rem 0;
  color: #606;
}

h4 {
  font-size: 2.2rem;
}

.event {
  margin-bottom: 6rem;
}
.schedule_time {
  margin: 0;
  text-transform: uppercase;
}
.schedule_time:before {
  content: "– "
}
.schedule_time:after {
  content: " –"
}

.menu-course {
  padding-top: 0.5em;
  p { margin: 0.5em; }
}

.menu-course:before {
  content: "* * *"
}
