* {
  text-align: center;
}

#map-canvas { height: 400px; margin: 0; padding: 0;}

header {
  padding: 4em 0 0 0;
}

section {
  margin: 2em 0 0em 0;
  padding: 5em 0 0em 0;
  /*border-bottom: 1px solid #666;*/
  position: relative;

  background: asset-url("rose-rule.png") 50% 0% no-repeat;
}
section#map {
  background: none;
}

footer {
  padding: 2em 0;
  position: relative;

  font-size: 0.8em;
  font-family: "Helvetica", "Arial", "sans-serif";

  p {
    margin: 0;
  }
  &, a, a:link, a:active, a:visited {
    color: #aaa;
  }
  a:hover {
    color: #666;
  }

}

nav {
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);

  a, a:link, a:active, a:visited {
    color: #606;
    line-height: 3em;
  }
  a:hover {
    color: #303;
  }

}

h1 {
  color: #606;
}

h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  color: #333;
}

h3 {
  margin: 0.7rem 0 1rem 0;
  color: #606;
}

h4 {
  margin: 0;
  font-size: 2.2rem;
}

.event {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.schedule_time {
  margin: 0;
  text-transform: uppercase;
}
.schedule_time:before {
  content: "– "
}
.schedule_time:after {
  content: " –"
}

.menu-course {
  padding-top: 0.5em;
  p { margin: 0.5em; }
}

.menu-course:before {
  content: "* * *"
}
