<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Philip & Sarah</title>

    <meta name="description" content="">
    <meta name="author" content="maniacalrobot">

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnr1EJ9KmLtdr_2i3gJkSflIWiPf7gUJg"></script>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <%#<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>%>
      <link href="http://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
      <%#<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>%>

      <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <!-- <link rel="stylesheet" href="css/skeleton.css"> -->

        <!-- Favicon
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <!-- <link rel="icon" type="image/png" href="images/favicon.png" /> -->



  </head>
  <body>

    <div class="container">

      <%= yield %>
    </div>

  </body>
</html>
